# Additional modules we want included
# on top of vanilla raspberrypi buildroot kernels

# SquashFS for us booting from the rootfs being squashfs
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y

# USB configfs for package/piwebcam/usb-gadget-config.service
CONFIG_USB_GADGET=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_F_ACM=y
CONFIG_USB_F_SS_LB=y
CONFIG_USB_U_SERIAL=y
CONFIG_USB_U_ETHER=y
CONFIG_USB_F_SERIAL=y
CONFIG_USB_F_OBEX=y
CONFIG_USB_F_NCM=y
CONFIG_USB_F_ECM=y
CONFIG_USB_F_EEM=y
CONFIG_USB_F_SUBSET=y
CONFIG_USB_F_RNDIS=y
CONFIG_USB_F_MASS_STORAGE=y
CONFIG_USB_F_FS=y
CONFIG_USB_F_UVC=y
CONFIG_USB_F_HID=y
CONFIG_USB_F_PRINTER=y
CONFIG_USB_CONFIGFS=y

# Camera sensors and friends compiled as drivers instead of modules
CONFIG_MEDIA_SUPPORT=y
CONFIG_VIDEO_DEV=y
CONFIG_VIDEO_V4L2=y
CONFIG_V4L2_FWNODE=y
CONFIG_VIDEO_IMX219=y
CONFIG_VIDEO_IMX290=y
CONFIG_VIDEO_IMX477=y
CONFIG_VIDEO_IMX519=y
CONFIG_VIDEO_OV5647=y
CONFIG_VIDEO_OV7251=y
CONFIG_VIDEO_OV7640=y
CONFIG_VIDEO_OV9281=y
CONFIG_VIDEO_IRS1125=y
CONFIG_VIDEO_MT9V011=y

