[Unit]
Description=Configure Raspberry Pi as a USB gadget
After=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/opt/uvc-webcam/multi-gadget.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=usb-gadget-config
WorkingDirectory=/tmp

[Install]
WantedBy=basic.target
