[Unit]
Description=Starts Raspberry Pi UVC webcam service
After=usb-gadget-config.service

[Service]
ExecStart=/opt/uvc-webcam/start-webcam.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piwebcam
WorkingDirectory=/tmp

[Install]
WantedBy=basic.target
