# Enable LZ4 compression in SquashFS
CONFIG_SQUASHFS_LZ4=y

# Improve boot time
# CONFIG_USB_G_SERIAL=y
# CONFIG_USB_CDC_COMPOSITE=y
# CONFIG_PRINTK_TIME=n
# CONFIG_BOOT_PRINTK_DELAY=n
# CONFIG_DEBUG_MEMORY_INIT=n
# CONFIG_DETECT_HUNG_TASK=n
# CONFIG_LATENCYTOP=n
# CONFIG_IRQSOFF_TRACER=n
# CONFIG_SCHED_TRACER=n
# CONFIG_STACK_TRACER=n
# CONFIG_BLK_DEV_IO_TRACE=n
# CONFIG_FUNCTION_PROFILER=n
# CONFIG_KGDB=n
# CONFIG_KGDB_KDB=n
# CONFIG_KDB_KEYBOARD=n
# CONFIG_TRACING_SUPPORT=n
# CONFIG_OPROFILE=n
# CONFIG_KPROBES=n
# CONFIG_HAMRADIO=n
# CONFIG_BT_ATH3K=n
# CONFIG_WIMAX=n
# CONFIG_CDROM_PKTCDVD=n
# CONFIG_SCSI=n
# CONFIG_SCSI_ISCSI_ATTRS=n
# CONFIG_ISCSI_TCP=n
# CONFIG_ISCSI_BOOT_SYSFS=n
# CONFIG_WIZNET_W5100=n
# CONFIG_WIZNET_W5100_SPI=n
# CONFIG_ATH9K=n
# CONFIG_ATH9K_HTC=n
# CONFIG_ATH6KL=n
# CONFIG_ATH6KL_USB=n
# CONFIG_LIBERTAS=n
# CONFIG_LIBERTAS_USB=n
# CONFIG_LIBERTAS_SDIO=n
# CONFIG_LIBERTAS_THINFIRM=n
# CONFIG_LIBERTAS_THINFIRM_USB=n
# CONFIG_MWIFIEX=n
# CONFIG_MWIFIEX_SDIO=n
# CONFIG_MT7601U=n
# CONFIG_MT76x0U=n
# CONFIG_MT76x2U=n
# CONFIG_RT2X00=n
# CONFIG_RT2500USB=n
# CONFIG_RT73USB=n
# CONFIG_RT2800USB=n
# CONFIG_RT2800USB_RT3573=n
# CONFIG_RT2800USB_RT53XX=n
# CONFIG_RT2800USB_RT55XX=n
# CONFIG_RT2800USB_UNKNOWN=n
# CONFIG_RTL8187=n
# CONFIG_RTL8192CU=n
# CONFIG_RTL8XXXU=n
# CONFIG_WIMAX_I2400M_USB=n
# CONFIG_INPUT_MOUSEDEV=n
# CONFIG_INPUT_JOYDEV=n
# CONFIG_INPUT_JOYSTICK=n
# CONFIG_JOYSTICK_IFORCE=n
# CONFIG_JOYSTICK_IFORCE_USB=n
# CONFIG_JOYSTICK_XPAD=n
# CONFIG_JOYSTICK_XPAD_FF=n
# CONFIG_JOYSTICK_XPAD_LEDS=n
# CONFIG_JOYSTICK_PSXPAD_SPI=n
# CONFIG_JOYSTICK_PSXPAD_SPI_FF=n
# CONFIG_JOYSTICK_RPISENSE=n
# CONFIG_INPUT_TOUCHSCREEN=n
# CONFIG_TOUCHSCREEN_ADS7846=n
# CONFIG_TOUCHSCREEN_EGALAX=n
# CONFIG_TOUCHSCREEN_EXC3000=n
# CONFIG_TOUCHSCREEN_GOODIX=n
# CONFIG_TOUCHSCREEN_ILI210X=n
# CONFIG_TOUCHSCREEN_EDT_FT5X06=n
# CONFIG_TOUCHSCREEN_RPI_FT5406=n
# CONFIG_TOUCHSCREEN_USB_COMPOSITE=n
# CONFIG_TOUCHSCREEN_STMPE=n
# CONFIG_W1=n
# CONFIG_W1_MASTER_DS2490=n
# CONFIG_W1_MASTER_DS2482=n
# CONFIG_W1_MASTER_DS1WM=n
# CONFIG_W1_MASTER_GPIO=n
# CONFIG_W1_SLAVE_THERM=n
# CONFIG_W1_SLAVE_SMEM=n
# CONFIG_W1_SLAVE_DS2408=n
# CONFIG_W1_SLAVE_DS2413=n
# CONFIG_W1_SLAVE_DS2406=n
# CONFIG_W1_SLAVE_DS2423=n
# CONFIG_W1_SLAVE_DS2431=n
# CONFIG_W1_SLAVE_DS2433=n
# CONFIG_W1_SLAVE_DS2438=n
# CONFIG_W1_SLAVE_DS2780=n
# CONFIG_W1_SLAVE_DS2781=n
# CONFIG_W1_SLAVE_DS28E04=n
# CONFIG_W1_SLAVE_DS28E17=n
# CONFIG_RC_CORE=n
# CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
# CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
# CONFIG_MEDIA_RADIO_SUPPORT=n
# CONFIG_MEDIA_CONTROLLER=n
# CONFIG_VIDEO_CX231XX_DVB=n
# CONFIG_VIDEO_TM6000_DVB=n
# CONFIG_DVB_USB=n
# CONFIG_DVB_USB_A800=n
# CONFIG_DVB_USB_DIBUSB_MB=n
# CONFIG_DVB_USB_DIBUSB_MB_FAULTY=n
# CONFIG_DVB_USB_DIBUSB_MC=n
# CONFIG_DVB_USB_DIB0700=n
# CONFIG_DVB_USB_UMT_010=n
# CONFIG_DVB_USB_CXUSB=n
# CONFIG_DVB_USB_M920X=n
# CONFIG_DVB_USB_DIGITV=n
# CONFIG_DVB_USB_VP7045=n
# CONFIG_DVB_USB_VP702X=n
# CONFIG_DVB_USB_GP8PSK=n
# CONFIG_DVB_USB_NOVA_T_USB2=n
# CONFIG_DVB_USB_TTUSB2=n
# CONFIG_DVB_USB_DTT200U=n
# CONFIG_DVB_USB_OPERA1=n
# CONFIG_DVB_USB_AF9005=n
# CONFIG_DVB_USB_AF9005_REMOTE=n
# CONFIG_DVB_USB_PCTV452E=n
# CONFIG_DVB_USB_DW2102=n
# CONFIG_DVB_USB_CINERGY_T2=n
# CONFIG_DVB_USB_DTV5100=n
# CONFIG_DVB_USB_AZ6027=n
# CONFIG_DVB_USB_TECHNISAT_USB2=n
# CONFIG_DVB_USB_V2=n
# CONFIG_DVB_USB_AF9015=n
# CONFIG_DVB_USB_AF9035=n
# CONFIG_DVB_USB_ANYSEE=n
# CONFIG_DVB_USB_AU6610=n
# CONFIG_DVB_USB_AZ6007=n
# CONFIG_DVB_USB_CE6230=n
# CONFIG_DVB_USB_EC168=n
# CONFIG_DVB_USB_GL861=n
# CONFIG_DVB_USB_LME2510=n
# CONFIG_DVB_USB_MXL111SF=n
# CONFIG_DVB_USB_RTL28XXU=n
# CONFIG_DVB_USB_DVBSKY=n
# CONFIG_SMS_USB_DRV=n
# CONFIG_DVB_B2C2_FLEXCOP_USB=n
# CONFIG_DVB_AS102=n
# CONFIG_VIDEO_EM28XX_DVB=n
# CONFIG_RADIO_SHARK=n
# CONFIG_RADIO_SHARK2=n
# CONFIG_RADIO_TEA5764=n
# CONFIG_RADIO_SAA7706H=n
# CONFIG_RADIO_TEF6862=n
# CONFIG_RADIO_WL1273=n
# CONFIG_RADIO_WL128X=n
# CONFIG_SOUND=n
# CONFIG_SND=n
# CONFIG_SND_HRTIMER=n
# CONFIG_SND_SEQUENCER=n
# CONFIG_SND_SEQ_DUMMY=n
# CONFIG_SND_DUMMY=n
# CONFIG_SND_ALOOP=n
# CONFIG_SND_VIRMIDI=n
# CONFIG_SND_MTPAV=n
# CONFIG_SND_SERIAL_U16550=n
# CONFIG_SND_MPU401=n
# CONFIG_SND_USB_AUDIO=n
# CONFIG_SND_USB_UA101=n
# CONFIG_SND_USB_CAIAQ=n
# CONFIG_SND_USB_CAIAQ_INPUT=n
# CONFIG_SND_USB_6FIRE=n
# CONFIG_SND_USB_HIFACE=n
# CONFIG_SND_SOC=n
# CONFIG_SND_BCM2835_SOC_I2S=n
# CONFIG_SND_BCM2708_SOC_GOOGLEVOICEHAT_SOUNDCARD=n
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DAC=n
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUS=n
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUSHD=n
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUSADC=n
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUSADCPRO=n
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DACPLUSDSP=n
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_DIGI=n
# CONFIG_SND_BCM2708_SOC_HIFIBERRY_AMP=n
# CONFIG_SND_BCM2708_SOC_RPI_CIRRUS=n
# CONFIG_SND_BCM2708_SOC_RPI_DAC=n
# CONFIG_SND_BCM2708_SOC_RPI_PROTO=n
# CONFIG_SND_BCM2708_SOC_JUSTBOOM_BOTH=n
# CONFIG_SND_BCM2708_SOC_JUSTBOOM_DAC=n
# CONFIG_SND_BCM2708_SOC_JUSTBOOM_DIGI=n
# CONFIG_SND_BCM2708_SOC_IQAUDIO_CODEC=n
# CONFIG_SND_BCM2708_SOC_IQAUDIO_DAC=n
# CONFIG_SND_BCM2708_SOC_IQAUDIO_DIGI=n
# CONFIG_SND_BCM2708_SOC_I_SABRE_Q2M=n
# CONFIG_SND_BCM2708_SOC_ADAU1977_ADC=n
# CONFIG_SND_AUDIOINJECTOR_PI_SOUNDCARD=n
# CONFIG_SND_AUDIOINJECTOR_OCTO_SOUNDCARD=n
# CONFIG_SND_AUDIOSENSE_PI=n
# CONFIG_SND_DIGIDAC1_SOUNDCARD=n
# CONFIG_SND_BCM2708_SOC_DIONAUDIO_LOCO=n
# CONFIG_SND_BCM2708_SOC_DIONAUDIO_LOCO_V2=n
# CONFIG_SND_BCM2708_SOC_ALLO_PIANO_DAC=n
# CONFIG_SND_BCM2708_SOC_ALLO_PIANO_DAC_PLUS=n
# CONFIG_SND_BCM2708_SOC_ALLO_BOSS_DAC=n
# CONFIG_SND_BCM2708_SOC_ALLO_DIGIONE=n
# CONFIG_SND_BCM2708_SOC_ALLO_KATANA_DAC=n
# CONFIG_SND_BCM2708_SOC_FE_PI_AUDIO=n
# CONFIG_SND_PISOUND=n
# CONFIG_SND_SOC_AD193X_SPI=n
# CONFIG_SND_SOC_AD193X_I2C=n
# CONFIG_SND_SOC_ADAU1701=n
# CONFIG_SND_SOC_ADAU7002=n
# CONFIG_SND_SOC_AK4554=n
# CONFIG_SND_SOC_CS4265=n
# CONFIG_SND_SOC_CS4271_I2C=n
# CONFIG_SND_SOC_ICS43432=n
# CONFIG_SND_SOC_SPDIF=n
# CONFIG_SND_SOC_WM8804_I2C=n
# CONFIG_SND_SIMPLE_CARD=n
# CONFIG_HID_A4TECH=n
# CONFIG_HID_ACRUX=n
# CONFIG_HID_APPLE=n
# CONFIG_HID_ASUS=n
# CONFIG_HID_LOGITECH=n
# CONFIG_HID_LOGITECH_DJ=n
# CONFIG_HID_MAGICMOUSE=n
# CONFIG_HID_MICROSOFT=n
# CONFIG_USB_APPLEDISPLAY=n
# CONFIG_USB_TRANCEVIBRATOR=n
# CONFIG_USB_IOWARRIOR=n
# CONFIG_USB_ISIGHTFW=n
# CONFIG_IIO=n
# CONFIG_IIO_BUFFER_CB=n
# CONFIG_REISERFS_FS=n
# CONFIG_REISERFS_FS_XATTR=n
# CONFIG_REISERFS_FS_POSIX_ACL=n
# CONFIG_REISERFS_FS_SECURITY=n
# CONFIG_JFS_FS=n
# CONFIG_JFS_POSIX_ACL=n
# CONFIG_JFS_SECURITY=n
# CONFIG_JFS_STATISTICS=n
# CONFIG_XFS_FS=n
# CONFIG_XFS_QUOTA=n
# CONFIG_XFS_POSIX_ACL=n
# CONFIG_XFS_RT=n
# CONFIG_GFS2_FS=n
# CONFIG_OCFS2_FS=n
# CONFIG_BTRFS_FS=n
# CONFIG_BTRFS_FS_POSIX_ACL=n
# CONFIG_HFS_FS=n
# CONFIG_HFSPLUS_FS=n
# CONFIG_JFFS2_FS=n
# CONFIG_JFFS2_SUMMARY=n
# CONFIG_JFFS2_COMPRESSION_OPTIONS=n
# CONFIG_JFFS2_LZO=n
# CONFIG_NFS_FS=n
# CONFIG_NFS_V3_ACL=n
# CONFIG_NFS_V4=n
# CONFIG_NFS_SWAP=n
# CONFIG_NFS_V4_1=n
# CONFIG_NFS_V4_2=n
# CONFIG_ROOT_NFS=n
# CONFIG_NFS_FSCACHE=n
# CONFIG_NFSD=n
# CONFIG_NFSD_V3_ACL=n
# CONFIG_NFSD_V4=n
# CONFIG_CIFS=n
# CONFIG_CIFS_WEAK_PW_HASH=n
# CONFIG_CIFS_UPCALL=n
# CONFIG_CIFS_XATTR=n
# CONFIG_CIFS_ACL=n
# CONFIG_CIFS_DFS_UPCALL=n
# CONFIG_CIFS_FSCACHE=n
# CONFIG_9P_FS=n
# CONFIG_9P_FS_POSIX_ACL=n
# CONFIG_BUG=n
# CONFIG_FTRACE=n
# CONFIG_KALLSYMS=n
# CONFIG_SLUB_DEBUG=n